* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

*:focus {
    outline: 2px #DE2E54 dotted;
}

/* SITE-HEADER */
.site-header {
    padding: 12px;
    background-color: #fff;
}

.site-header-div {
    margin: 0px;
    padding: 0%;
    padding: 12px;
}

.site-header-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.site-logo-text {
    padding: 0px;
    margin-right: 114px;
    color: #222;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 600px;
    text-decoration: none;
    transition: color 0.4s ease;
}

.site-logo-text:hover {
    color: #DE2E54;
    opacity: 80%;
} 

.site-logo-text:active {
    opacity: 60%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo {
    margin: 0px;
    padding-right: 16px;
}

.site-header-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.site-heading-links {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    padding: 0px;
    margin-right: 32px;
    letter-spacing: 2px;
    transition: 0.4s ease;
}

.site-heading-links:last-child {
    padding-right: 0px;
}

.site-heading-links:hover {
    color: #DE2E54;
    opacity: 80%;
}

.site-heading-links:active {
    opacity: 60%;
}

.site-link {
    text-decoration: none;
    border-radius: 8px;
    border-radius: 2px solid #DE2E54;
    background: #DE2E54;
    color: #fff;
    margin-left: 72px;
    padding: 12px 24px;
    transition: color 0.4s ease;
}

.site-link:hover {
    background-color: #fff;
    color: #DE2E54;
    opacity: 80%;
}

.site-link:active {
    background-color: #DE2E54;
    color: #fff;
    opacity: 60%;
}

/* HERO */
.hero-section {
    margin-bottom: 50px;
    background-color: #0EB4C1;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    padding-bottom: 16px;
    margin: 0px;
    padding-right: 177px;
    color: #FFF;
    font-family: "Open Sans Condensed","Sans Serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero-text {
    margin: 0px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 36px;
}

.hero-container {
    width: 100%;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.hero-link {
    text-decoration: none;
    border-radius: 8px;
    border-radius: 2px solid #DE2E54;
    background: #DE2E54;
    color: #fff;
    padding: 12px 24px;
    transition: color 0.4s ease;
}

.hero-link:hover {
    background-color: #fff;
    color: #DE2E54;
    opacity: 80%;
}

.hero-link:active {
    background-color: #DE2E54;
    color: #fff;
    opacity: 60%;
}

.doctor-img {
    width: 423px;
    height: 504px;
    align-self: flex-end;
    margin-bottom: 0px;
    margin-top: 29px;
}

/* FEATURE */
.feature-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 56px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.feature-img {
    width: 200px;
    height: 200px;
}

.feature-div {
    margin: 0px;
    padding: 0%;
    padding-left: 64px;
}

.feature-title {
    color: #222;
    font-size: 24px;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    margin: 0px;
    padding: 0%;
    padding-bottom: 24px;
}

.feature-text {
    color: #444;
    font-size: 16px;
    font-family: "Open Sans", "Arial";
}

.feature-link {
    padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
    background-color: #DE2E54;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.4s ease;
}


.feature-link:hover {
    background-color: #fff;
    color: #DE2E54;
    opacity: 80%;
}

.feature-link:active {
    background-color: #DE2E54;
    color: #fff;
    opacity: 60%;
}

.container{
  width: 100%;
  text-align: left;
}

/* FOOTER */
.site-footer {
    background-color: #0EB4C1;
    color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-title {
    display: flex;    
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 36px;
    font-family: "Open Sans" ,"Sans Serif";
    font-weight: 700;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-right: 40px;
}

.site-footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer-li {
    padding-right: 40px;
}

.footer-link-one {
    background-color: #0EB4C1;
    border: #fff solid 2px;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease;
}

.footer-link-one:hover {
    background-color: #DE2E54;
    color: #fff;
}

.footer-link-one:active {
    opacity: 60%;
}

.footer-link-two {
    background-color: #0EB4C1;
    list-style: none;
    border: #fff solid 2px;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
}

.footer-class {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 24px;
}

.footer-container {
    max-width: 1440px;
    margin-left: 170px;
    margin-right: 170px;
    margin-left: auto;
    margin-right: auto;
}

.footer-icon {
    margin: 0px;
    padding-right: 16px;
}

.footer-heading {
    padding-right: 418px;
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-family: "Open Sans";
    transition: 0.4s ease;
}

.footer-heading:hover {
    opacity: 80%;
    color: #DE2E54
}

.footer-heading:active {
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}

.site-footer-ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

.site-footer-links {
    text-decoration: none;
    color: #fff;
    padding-right: 32px;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.4s ease;
}

.site-footer-links:hover {
    opacity: 80%;
    color: #DE2E54
}

.site-footer-links:active {
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}
